{% style %}

@media screen and (min-width: 650px) {
  .only-video {
    display: none;
  }
}

{% endstyle %}

<div class=only-video>
  {% render 'video' %}
</div>

{% schema %}
{
  "name": "only video",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "only video"
    }
  ]
}
{% endschema %}
