{% style %}

@media screen and (min-width: 650px) {
  .only-video {
    display: none;
  }
}

{% endstyle %}

<div class=only-video>
  <h1>working?</h1>
  <video autoplay muted loop>
    <source src="https://cdn.shopify.com/videos/c/o/v/17e2fddb2f9c4a18a58fa2bdb84cc40d.mp4">
  </video>
</div>

{% schema %}
{
  "name": "only video",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "only video"
    }
  ]
}
{% endschema %}
