/* hero section */
.hero-buttons {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}

/* heading */
.isolate {
  position: relative;
}

.isolate ::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: yellow;
}

/* footer */
.footer-block__details-content > li > a {
  text-decoration: none;
}
