/* hero section */
.hero-buttons {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}

/* heading */
.heading-bg {
  position: relative;
}

.heading-bg h2 {
  color: #fff;
}

.heading-bg ::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 85%;
  height: auto;
  background-color: #4b5161;
}

/* rich text */
.crt {
  text-align: left;
}

.button-margin {
  margin-right: 1em;
}

.align-left {
  text-align: left;
}

/* custom section */
.tib {
  margin-bottom: 3em;
}

.section-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.testimonial-media {
  min-height: auto;
}

.star {
  display: flex;
  align-items: flex-start;
  gap: 0.25em;
}

.tib-button-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.tib-button-container div {
  text-align: center;
}

/* footer */
.footer-block__details-content a {
  text-decoration: none;
}

/* media queries */
/* 1024px */
@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 2em;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 1.5em;
  }

  .heading-bg {
    position: relative;
  }

  .heading-bg ::after {
    width: 92.5%;
  }

  .btn-flex-gap {
    column-gap: 2em;
    row-gap: 0;
  }
}

/* 749px */
@media screen and (max-width: 749px) {
  .tib-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .text-flex-gap {
    column-gap: 0;
    row-gap: 2em;
  }
  
  .test {
    margin-top: 3em;
  }

  .custom-media > *:not(.zoom):not(.deferred-media__poster-button),
  .custom-media model-viewer {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
  }
}

/* 550px */
@media screen and (max-width: 550px) {
  .tib-button-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* 480px */
@media screen and (max-width: 480px) {
  .custom-media > *:not(.zoom):not(.deferred-media__poster-button),
  .custom-media model-viewer {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
  }
}
