/* hero section */
.hero-buttons {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}

/* heading */
.heading-bg {
  position: relative;
}

.heading-bg h2 {
  color: #fff;
}

.heading-bg ::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 85%;
  height: auto;
  background-color: #4b5161;
}

/* rich text */
.crt {
  text-align: left;
}

.image-with-text__text {
  display: none;
}

/* custom section */
.section-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.testimonial-media {
  min-height: auto;
}

.star {
  display: flex;
  align-items: flex-start;
  gap: 0.25em;
}

/* footer */
.footer-block__details-content a {
  text-decoration: none;
}
